{% extends 'body.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-plus"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="name">{{field.label}}:</label>
               {{ field }}
            </div>
          {% endfor %}


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btnTest">
                <i class="fas fa-save"></i> Guardar Categoria
            </button>
        </div>
    </div>
    </form>

    {% block JavaScript %}
        <script type="application/javascript">
            $(function () {
                $('#data').DataTable({
                    responsive: true,
                    autoWidth: false,

                });

                $('.btnTest').on('click', function () {
                    $.ajax({
                        url: '{% url "category_list"%}',
                        type: 'POST',
                        data: {id:1},
                        dataType: 'json'
                    }).done(function (data) {
                        console.log(data)
                    }).fail(function ( jqXHR, textStatus,  errorThrown) {
                        alert(textStatus+':'+errorThrown);
                    }).always(function (data) {
                    })

                });
            });
        </script>
    {% endblock %}
{% endblock %}