{% extends 'base_login.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{% url 'index' %}"><b>Ha</b>des</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{ title }}</p>
                <form action="." method="post" autocomplete="off">
                    <input type="hidden" name="next" value="{{ next }}">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                       <div class="input-group mb-3">
                        {{ form.confirm_password }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-lock"></i> Cambiar Password
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de Cambiar tu contraseña acción?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación!',
                            text: 'Su contraseña ha sido cambiada correctamente!',
                            icon: 'success',
                            timer: 4000,
                            onClose: () => {
                                location.href = '/login';
                            }
                        });

                    });
                });
            });
        </script>
    </div>
{% endblock %}