{% extends 'vtc/body.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
            </div>

            <div class="alert alert-danger alert-dismissible">
                   <h5><i class="icon fas fa-ban"></i> Notificacion</h5>
                    ¿Estas seguro de eliminar el registro numero {{ object.id }}?
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary ">
                    <i class="fas fa-save"></i> Si, acepto
                </button>
                <a href="{{ list_url }}" type="submit" class="btn btn-info ">
                    <i class="fas fa-times"></i> cancelar
                </a>
            </div>
        </div>
    </form>

    <script>
    $('form').on('submit', function (e) {

        e.preventDefault();
        {#let parameters = $(this).serializeArray();#}
        let parameters = new FormData(this);
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de eliminar el registro?', parameters, function () {
            location.href = '{{ list_url }}';
        });
    });

    </script>

{% endblock %}