{% extends 'body.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-trash"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
            </div>

            <div class="alert alert-danger alert-dismissible">
                   <h5><i class="icon fas fa-ban"></i> Notificacion</h5>
                    ¿Estas seguro de eliminar el registro numero {{ object.id }}?
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary ">
                    <i class="fas fa-save"></i> Si, acepto
                </button>
                <a href="{{ list_url }}" type="submit" class="btn btn-info ">
                    <i class="fas fa-times"></i> cancelar
                </a>
            </div>
        </div>
    </form>

    <script>
    $('form').on('submit', function (e) {
            e.preventDefault();
            let parameters = $(this).serializeArray();

            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                {#alert('guardado');#}
                console.log(data)
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;

                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ':' + errorThrown);
            }).always(function (data) {
            });
        });
    </script>

{% endblock %}