{% extends 'layout.html' %}

{% block content %}
    <form method="post" action=".">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">

                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}

                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %}
                        {{ form.non_field_errors }}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="name">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}


            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btnTest">
                    <i class="fas fa-save"></i> Guardar Categoria
                </button>
            </div>
        </div>
    </form>
    <script>
        {% if form.errors %}
            let errors = '';
            {% for field in form %}
                {% for errors in field.errors %}
                    errors += '{{ errors }}';
                {% endfor %}
            {% endfor %}
            {% for errors in form.non_field_errors %}
                errors += '{{ errors }}';
            {% endfor %}

            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error',
            });
        {% endif %}


      $('form').on('submit', function (e) {
            e.preventDefault();
            let parameters = $(this).serializeArray();

            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
            }).done(function (data) {
                {#alert('guardado');#}
                console.log(data)
                if (!data.hasOwnProperty('error')) {
                    location.href = '{{ list_url }}';
                    return false;

                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ':' + errorThrown);
            }).always(function (data) {
            });
        });


    </script>
{% endblock %}