{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post" action="." enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">

                    <i class="fas fa-plus"></i>
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Categories:</label>
                    {{ form.categories }}
                </div>

                <div class="form-group">
                    <label>products:</label>
                    {{ form.products }}
                </div>
                <div class="form-group">
                    <label>Search:</label>
                    {{ form.search }}
                </div>


            </div>
            <div class="card-footer">

            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('select[name="categories"]').on('change', function () {
                var id = $(this).val();
                var select_products = $('select[name="products"]');
                var options = '<option value="">---------------</option>'
                if (id === '') {
                    select_products.html(options);
                    return false;
                }

                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_product_id',
                        'id': id
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log(data);
                    if (!data.hasOwnProperty('error')) {
                        $.each(data, function (key, value) {
                            options += '<option value="' + value.id + '">' + value.name + '</option>'
                        });
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    select_products.html(options)
                });
            });

        })

        let availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("input[name='search']").autocomplete({
            source: function(request, response){
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'autocomplete',
                        'term': request.term
                    },
                    dataType: 'json',
                }).done(function (data) {
                    response(data);
                   
                }).fail(function (jqXHR, textStatus, errorThrown) {
                   // alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            },
            delay: 500,
            minLength: 3,
            select:function(event, ui){
                console.log(ui.item);
            }
        });
    </script>
{% endblock %}